.sobre{
    background-color: var(--c3);
    padding-bottom: 5rem;
}

.informacoes{
    margin: 0 10%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 3rem;
    margin-bottom: 2rem;
    
}

.informacoes img{
    max-width: 30vw;
    transform: rotate(90deg);
}

.contato{
    display: grid;
    width: 17rem;
    background-color: var(--c2);
    margin: 0 auto;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.contato h2{
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.contato form{
    margin-left: 2.2rem;
    font-family: 'inter';
    font-size: 0.8rem;
    margin-bottom: 2.5rem;
}

.mensagem{
    margin-top: 5rem;
}

.contato button{
    margin: 0 13%;
    background-color: var(--Az8);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: var(--c1);
    font-family: 'inter';
}

.social{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 15%;
    justify-items: center;
    align-items: center;
    row-gap: 1.5rem;
}